.index-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  background-color: #5B5656;
  min-height: 100%;
  width: 100%;
  padding: 1.5rem;
  color: #E8EAE6;
  text-align: center;
}

.index-container .container__text {
  margin-top: 2rem;
  text-align: center;
}

.index-container .container__text--p {
  font-weight: 200;
}

.index-container .container__btn {
  text-align: center;
  border-radius: 20px;
}

.index-container .container__btn--wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-top: 1rem;
}

.index-container .container__p {
  margin-top: 1rem;
  font-size: 1.2rem;
  text-align: center;
}

.index-container .container__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3rem;
  width: 100%;
  background-color: #979797;
  font-size: 2rem;
}

.index-container .container__footer a {
  -webkit-transition: background-color 450ms;
  transition: background-color 450ms;
}

.index-container .container__footer a:hover {
  background-color: #F5EAEA;
  opacity: 1;
}

.index-container .container__footer .twitter:hover {
  color: #1D9BF0;
}

.index-container .container__footer .twitter i {
  -webkit-transition: 0s;
  transition: 0s;
}

.index-container .container__footer a {
  width: 100%;
  height: 100%;
  text-align: center;
  text-decoration: none;
}

.index-container .container__footer .social-icon {
  color: black;
  opacity: 0.5;
}

@media screen and (min-width: 750px) {
  .index-container {
    position: absolute;
    top: 5rem;
    background: #5b5656;
    background: -webkit-gradient(linear, left top, left bottom, from(#5b5656), to(#979797));
    background: linear-gradient(to bottom, #5b5656 0%, #979797 100%);
    width: 45%;
    min-height: 80%;
    max-height: 100%;
    border-radius: 20px;
    overflow: hidden;
  }
  .index-container .container__text--title {
    font-size: 2rem;
  }
  .index-container .container__text--p {
    font-size: 1.4rem;
  }
  .index-container .container__footer {
    background-color: transparent;
  }
}

img {
  width: 100px;
}

.song-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 2rem 0;
  width: 100%;
  margin: 0 2rem;
  margin-top: 2.3rem;
  background: #F5EAEA;
}

.song-container__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 1rem;
  border-radius: 20px;
  width: 300px;
  min-height: 400px;
  margin-bottom: 1rem;
  background: -webkit-gradient(linear, left top, left bottom, from(#5b5656), to(#979797));
  background: linear-gradient(to bottom, #5b5656 0%, #979797 100%);
  cursor: default;
  text-align: center;
}

.song-container__item img {
  width: 200px;
  border-radius: 20px;
}

.song-container__item a {
  font-size: 3rem;
  color: #E8EAE6;
  text-decoration: none;
  font-weight: 300;
}

.categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  padding: 0 2rem;
  position: absolute;
  top: 2.5rem;
}

.categories a.active {
  background-color: white;
  color: #1DB954;
  pointer-events: none;
}

@media screen and (min-width: 700px) {
  .song-container {
    width: 90%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 3rem;
  }
  .song-container__item {
    margin: 0 1rem 1rem 0;
    min-width: 300px;
    height: 400px;
    padding: 1rem;
    text-align: center;
  }
  .song-container h1 {
    font-size: 1.2rem;
  }
  .categories {
    top: 3.3rem;
  }
  .categories a {
    margin-right: 1rem;
  }
}
/*# sourceMappingURL=song_page_styles.css.map */