@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap");
@import index_styles
@import song_page_styles
//  Set the default settings
*
  padding: 0
  margin: 0
  font-family: 'Nunito'
  box-sizing: border-box
//  Format the body
body
  display: flex
  justify-content: center
  align-items: center
  position: relative
  background-color: $background_color

// Header Styles
.header
  position: fixed  
  top: 0
  left: 0
  text-align: center
  padding: 0.3rem
  width: 100%
  z-index: 999
  height: 2rem
  background-color: $background_color
  cursor: pointer
  transition: background-color 450ms
  &.scrolling
    color: $gray_lightest
    background: $gray_lighter
// Buttons 


// profile info syles



// Large view 
// @media screen and ( min-width: 750px )


