@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap");
.index-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  background-color: #5B5656;
  min-height: 100%;
  width: 100%;
  padding: 1.5rem;
  color: #E8EAE6;
  text-align: center;
}

.index-container .container__text {
  margin-top: 2rem;
  text-align: center;
}

.index-container .container__text--p {
  font-weight: 200;
}

.index-container .container__btn {
  text-align: center;
  border-radius: 20px;
}

.index-container .container__btn--wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-top: 1rem;
}

.index-container .container__p {
  margin-top: 1rem;
  font-size: 1.2rem;
  text-align: center;
}

.index-container .container__btn:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.index-container .container__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3rem;
  width: 100%;
  background-color: #979797;
  font-size: 2rem;
}

.index-container .container__footer a:hover {
  background-color: #F5EAEA;
  opacity: 1;
}

.index-container .container__footer .twitter:hover {
  color: #1D9BF0;
}

.index-container .container__footer .twitter i {
  -webkit-transition: 0s;
  transition: 0s;
}

.index-container .container__footer a {
  width: 100%;
  height: 100%;
  text-align: center;
  text-decoration: none;
}

.index-container .container__footer .social-icon {
  color: black;
  opacity: 0.5;
}

@media screen and (min-width: 750px) {
  .index-container {
    position: absolute;
    top: 5rem;
    background: #5b5656;
    background: -webkit-gradient(linear, left top, left bottom, from(#5b5656), to(#979797));
    background: linear-gradient(to bottom, #5b5656 0%, #979797 100%);
    width: 45%;
    min-height: 80%;
    max-height: 100%;
    border-radius: 20px;
    overflow: hidden;
  }
  .index-container .container__text--title {
    font-size: 2rem;
  }
  .index-container .container__text--p {
    font-size: 1.4rem;
  }
  .index-container .container__footer {
    background-color: transparent;
  }
}

.index-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  background-color: #5B5656;
  min-height: 100%;
  width: 100%;
  padding: 1.5rem;
  color: #E8EAE6;
  text-align: center;
}

.index-container .container__text {
  margin-top: 2rem;
  text-align: center;
}

.index-container .container__text--p {
  font-weight: 200;
}

.index-container .container__btn {
  text-align: center;
  border-radius: 20px;
}

.index-container .container__btn--wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-top: 1rem;
}

.index-container .container__p {
  margin-top: 1rem;
  font-size: 1.2rem;
  text-align: center;
}

.index-container .container__btn:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.index-container .container__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3rem;
  width: 100%;
  background-color: #979797;
  font-size: 2rem;
}

.index-container .container__footer a:hover {
  background-color: #F5EAEA;
  opacity: 1;
}

.index-container .container__footer .twitter:hover {
  color: #1D9BF0;
}

.index-container .container__footer .twitter i {
  -webkit-transition: 0s;
  transition: 0s;
}

.index-container .container__footer a {
  width: 100%;
  height: 100%;
  text-align: center;
  text-decoration: none;
}

.index-container .container__footer .social-icon {
  color: black;
  opacity: 0.5;
}

@media screen and (min-width: 750px) {
  .index-container {
    position: absolute;
    top: 5rem;
    background: #5b5656;
    background: -webkit-gradient(linear, left top, left bottom, from(#5b5656), to(#979797));
    background: linear-gradient(to bottom, #5b5656 0%, #979797 100%);
    width: 45%;
    min-height: 80%;
    max-height: 100%;
    border-radius: 20px;
    overflow: hidden;
  }
  .index-container .container__text--title {
    font-size: 2rem;
  }
  .index-container .container__text--p {
    font-size: 1.4rem;
  }
  .index-container .container__footer {
    background-color: transparent;
  }
}

img {
  width: 100px;
}

.song-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 2rem 0;
  width: 100%;
  background: #F5EAEA;
}

.song-container__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 1rem;
  border-radius: 20px;
  width: 300px;
  min-height: 400px;
  margin-bottom: 1rem;
  background: -webkit-gradient(linear, left top, left bottom, from(#5b5656), to(#979797));
  background: linear-gradient(to bottom, #5b5656 0%, #979797 100%);
  cursor: default;
  text-align: center;
}

.song-container__item img {
  width: 200px;
  border-radius: 20px;
}

.song-container__item a {
  font-size: 3rem;
  color: #E8EAE6;
  text-decoration: none;
  font-weight: 300;
}

.song-container__item .btn {
  background: #1DB954;
  padding: 0.3rem;
  border-radius: 10px;
  text-align: center;
  width: 5rem;
}

.song-container__item .btn:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

@media screen and (min-width: 700px) {
  .song-container {
    width: 90%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 3rem;
  }
  .song-container__item {
    margin: 0 1rem 1rem 0;
    min-width: 300px;
    height: 400px;
    padding: 1rem;
    text-align: center;
  }
  .song-container h1 {
    font-size: 1.2rem;
  }
}

* {
  padding: 0;
  margin: 0;
  font-family: 'Nunito';
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: 450ms ease;
  transition: 450ms ease;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  background-color: #F5EAEA;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  padding: 0.3rem;
  width: 100%;
  z-index: 999;
  height: 2rem;
  background-color: #F5EAEA;
  cursor: pointer;
}

.green__btn {
  background: #1DB954;
  color: #E8EAE6;
  text-decoration: none;
  font-weight: 600;
}

.green__btn:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.med {
  font-size: 1rem;
  padding: 0.7rem;
  border-radius: 10px;
}

.sh {
  font-size: 0.7rem;
  padding: 0.2rem;
  border-radius: 5px;
}

.lg {
  font-size: 3rem;
  padding: 0.5rem 1rem;
  border-radius: 20px;
}

.profile_info {
  position: fixed;
  left: 0;
  padding-left: 1rem;
  bottom: 3rem;
  z-index: 999;
  cursor: pointer;
  width: 160px;
}

.profile_info img {
  border-radius: 50%;
  width: 5rem;
}

.profile_info img.hidden {
  -webkit-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
}

.profile_info .profile_text {
  position: absolute;
  top: 10px;
  left: -100px;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 450ms;
  transition: all 450ms;
  z-index: 888;
}

.profile_info:hover #profile_image {
  -webkit-transform: translate(0);
          transform: translate(0);
}

.profile_info:hover .profile_text {
  -webkit-transform: translateX(200px);
          transform: translateX(200px);
  opacity: 1;
  pointer-events: auto;
}

.profile_info .username {
  color: #1DB954;
  background-color: #E8EAE6;
  font-size: 1.5rem;
  font-weight: 600;
  border-radius: 10px 10px 0 0;
  text-align: center;
}

.profile_info .logout {
  color: #E8EAE6;
  text-decoration: none;
  padding: 0.3rem;
  background-color: #1DB954;
  margin-top: 0.2rem;
  border-radius: 0 0 10px 10px;
}

@media screen and (min-width: 750px) {
  .header {
    font-size: 1.7rem;
    font-weight: 300;
    height: 3rem;
    color: #E8EAE6;
    background-color: #979797;
  }
  .profile_info {
    bottom: 1rem;
  }
}
/*# sourceMappingURL=styles.css.map */