{% extends 'base.html' %}

{% block content %}
    <section class="index-container">
        {% if context.user_info != '' %}
            <div class="container__text">
                <h1 class="container__text--title">
                    Let's hear it!
                </h1>
                <p class="container__text--p">Great Taste!🎶</p>
            </div>

            <div class="container__btn--wrapper">
                <a href="/songs-page/top/short_term" class="green__btn med">
                    Top Songs
                </a>
                <a href="/songs-page/recent/" class="green__btn med">
                    Recent Songs
                </a>
            </div>
        {% else %}
            <div class="container__text">
                <h1 class="container__text--title">
                    Welcome to Spotlighfy! 🎶
                </h1>
                <p class="container__text--p">
                    Login with Spotify for more!
                </p>
            </div>
            <div class="container__btn--wrapper">
                <a class="green__btn lg" href="{{ context.spotify_auth_url }}">
                    <i class="fab fa-spotify"></i>
                </a>
            </div>
        {% endif %}

        <p class="container__p">On this page you can know what type of personality you have based on your top 50 played songs on Spotify
            <i class="fab fa-spotify"></i>. You can tweet randomly from 1 to 5 songs with a bot and know what kind of enchilada you are.</p>

        <section class="container__footer">
            <a class="social-icon github" href="https://github.com/BubuDavid/Personality-Analysis-Spotify">
                <i class="fab fa-github-square"></i>
            </a>
            <a class="social-icon twitter" href="https://twitter.com/DBubu73">
                <i class="fab fa-twitter-square"></i>
            </a>
        </section>
    </section>

    <!-- Styles for this page -->
    <style>
        body {
            height: 100vh;
        }
    </style>
{% endblock %}
