{% extends 'base.html' %}
{% block content %}
    <section class="categories">
        <a id='short_term' class="green__btn sh" href="/songs-page/top/short_term">Last month</a>
        <a id='medium_term' class="green__btn sh" href="/songs-page/top/medium_term">6 months</a>
        <a id='long_term' class="green__btn sh" href="/songs-page/top/long_term">All time</a>
    </section>
    <section class="song-container">
        {% for song in context.songs %}
            <div class="song-container__item">
                <img src="{{ song.image }}" alt="">
                    <h1>{{ song.name }}</h1>
                    <p>|
                        {{ song.artists|join(' | ') }}
                        |</p>
                    <div class="green__btn lg">
                        <a href="{{ song.uri }}">
                            <i class="fab fa-spotify"></i>
                        </a>
                    </div>
                </div>
            {% endfor %}

        </section>
    {% endblock %}
